{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'gaborone/images/icon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Covid Bots</title>
  </head>
  <body>
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">Covid Bots</a>
  </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
        <div class="container">
          <div class="jumbotron">
            <img src="{% static 'gaborone/images/main.png' %}" class="img-fluid" alt="LOGO">
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          </div>
        </div>
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
